#footer {
    background: #aa1f20;
    border-top: 2px ridge #4b4d47;
    text-align: center;
    color: white;
    margin-top: 4rem;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#Nav {
    background-color: #aa3738;
}