#footer {
    background: #aa1f20;
    border-top: 2px ridge #4b4d47;
    text-align: center;
    color: white;
    margin-top: 4rem;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#Nav {
    background-color: #aa3738;
}

#outsideStore {
    border: 5px solid #4b4d47;
    border-radius: .5rem;
}

#welcomeMsg {
    color: #aa1f20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4b4d47;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #4b4d47; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.carouselMsg {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.homeMotto {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.suppliersList {
    cursor: pointer;
    display: inline-block;
}

.suppliersList:hover {
    color: blue;
    text-decoration: underline;
}

