#footer {
    background: #aa1f20;
    border-top: 2px ridge #4b4d47;
    text-align: center;
    color: white;
    margin-top: 4rem;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#Nav {
    background-color: #aa3738;
}

#outsideStore {
    border: 5px solid #4b4d47;
    border-radius: .5rem;
}

#welcomeMsg {
    color: #aa1f20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4b4d47;
}